body
	font-size: 20px
	line-height: 24px
	font-weight: 400
	font-family: 'Roboto', 'Arial', sans-serif
img
	max-width: 100%
	height: auto
.visually-hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0
	white-space: nowrap
	clip-path: inset(100%)
	clip: rect(0 0 0 0)
	overflow: hidden

.navbar
	padding: 12px 0 8px 0
	&__brand-link
	&__brand-img
	&__toggler-button
		position: relative
		border: none
	&__toggler-button:hover, &__toggler-button:focus
		box-shadow: none
		&:hover::after, &:focus::after
			content: ""

			position: absolute

			width: 45px
			height: 50px

			left: 0px
			top: -19px

			background-image: url(../img/button-heart-red.png)
			background-position: 0 0
			background-repeat: no-repeat
			z-index: 2
	&__toggler-button-img
		content: ""

		position: absolute

		width: 45px
		height: 50px

		left: 0
		top: -19px

		background-image: url(../img/button-heart-black.png)
		background-position: 0 0
		background-repeat: no-repeat
		z-index: 1
	&__toggler-button
		.circle-wrap-1
			position: relative
		.circle-wrap-2
			position: absolute
			width: 22px
			top: -15px
			left: -1px
			z-index: 0
			animation: ciercle 1s infinite
		@keyframes ciercle
			0%
				opacity: 0
			100%
				opacity: 1
.navbar-collapse
	&__list
	&__item
		border: none
	&__link
	&__img
	&__dropdown-list
	&__dropdown-item

.navbar-footer-main
	&__link-up
	&__list
	&__item
	&__item-link
		color: #000000
		text-transform: none
.main
	.main-bg-wrap
		padding-top: 10%
		background-image: url(../img/bg-1.jpg)
		background-position: center
		background-repeat: no-repeat
		background-attachment: fixed
		height: 100vh
	.promo
		text-align: center
		&__header
			font-size: 45px
			text-transform: uppercase
	.promo-wrap
		margin-top: 20%
		&__subheader
			font-size: 25px
			font-weight: 700
			color: #ff0000
			text-transform: uppercase
		&__text
			font-size: 25px
			font-weight: 700
	.arrow-scroll-down
		margin-top: 10%
		position: relative
		&__one
			position: absolute
			top: 30px
			left: calc(50% - 25px)
			animation: arrowDown 2s infinite
		&__two
			opacity: 0
			animation-delay: 2s

		@keyframes arrowDown
			0%
				bottom: 30px
				opacity: 1
			100%
				bottom: 0
				opacity: 0

	.HTML
		margin-top: 1rem
		hr
			padding: 0
			margin: 0
		&__header
			text-align: center
			margin-bottom: 1rem
			&::after
				content: " and CSS"
				color: #ff0000
				font-weight: 700
		&__button-wrap
			text-align: center
			button
				margin: 1rem
				text-transform: uppercase
				&:focus, &:active
					color: #000000
	.layout
		&__header
			text-align: center
			margin-bottom: 1rem
			margin-top: 1rem
			&::after
				content: " today"
				color: #ff0000
				font-weight: 700


	.skills
		margin-top: 1rem
		height: 100vh
		hr
			padding: 0
			margin: 0
		&__header
			text-align: center
			margin-bottom: 1rem
			&::before
				content: "My "
				color: #ff0000
				font-weight: 700
		.mt-20
			margin-top: 100px
			.progress
				height: 31px
				margin-bottom: 10px

				.skill
					font: normal 12px "Open Sans Web"
					line-height: 32px
					padding: 0
					margin: 0 0 0 20px
					text-transform: uppercase

					.val
						float: right
						font-style: normal
						margin: 0 20px 0 0

				.progress-bar
					text-align: left
					transition-duration: 3s

				.bsp_big-image
					box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0)
					border-radius: 5px
					margin-top: 0px
	.layout
		&__header
		&__card-body-wrap
			position: relative
			.fixed::after
				position: absolute
				content: ""

				width: 80px
				height: 80px

				left: calc(50% - 40px)
				top: 1rem

				background-image: url(../img/layout/1-dark.svg)
				background-position: 0 0
				background-repeat: no-repeat
				background-size: 100%
			.fixed:hover::after
				position: absolute
				content: ""

				width: 80px
				height: 80px

				left: calc(50% - 40px)
				top: 1rem

				background-image: url(../img/layout/1-red.svg)
				background-position: 0 0
				background-repeat: no-repeat
				background-size: 100%
			.adaptive::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/2-dark.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.adaptive:hover::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/2-red.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.cross-browser::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/3-dark.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.cross-browser:hover::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/3-red.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.flex::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/4-dark.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.flex:hover::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/4-red.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.semantic::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/5-dark.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.semantic:hover::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/5-red.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.valid::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/6-dark.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.valid:hover::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/6-red.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%

		&__card-body
		&__card-title
			margin-top: 5rem
			text-align: center
		&__card-text






