body
	font-size: 20px
	line-height: 24px
	font-weight: 400
	font-family: 'Roboto', 'Arial', sans-serif
img
	max-width: 100%
	height: auto
.visually-hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0
	white-space: nowrap
	clip-path: inset(100%)
	clip: rect(0 0 0 0)
	overflow: hidden

.navbar
	padding: 12px 0 8px 0
	&__brand-link
	&__brand-img
	&__toggler-button
		position: relative
		border: none
	&__toggler-button:hover, &__toggler-button:focus
		box-shadow: none
		&:hover::after, &:focus::after
			content: ""

			position: absolute

			width: 45px
			height: 50px

			left: 0px
			top: -19px

			background-image: url(../img/button-heart-red.png)
			background-position: 0 0
			background-repeat: no-repeat
			z-index: 2
	&__toggler-button-img
		content: ""

		position: absolute

		width: 45px
		height: 50px

		left: 0
		top: -19px

		background-image: url(../img/button-heart-black.png)
		background-position: 0 0
		background-repeat: no-repeat
		z-index: 1
	&__toggler-button
		.circle-wrap-1
			position: relative
		.circle-wrap-2
			position: absolute
			width: 22px
			top: -15px
			left: -1px
			z-index: 0
			animation: ciercle 1s infinite
		@keyframes ciercle
			0%
				opacity: 0
			100%
				opacity: 1
.navbar-collapse
	&__list
	&__item
		border: none
	&__link
		font-size: 1.5rem
	&__img
	&__dropdown-list
	&__dropdown-item

.navbar-footer-main
	&__link-up
	&__list
	&__item
	&__item-link
		color: #000000
		text-transform: none
.main
	.main-bg-wrap
		padding-top: 10%
		background-image: url(../img/bg-1.jpg)
		background-position: center
		background-repeat: no-repeat
		background-attachment: fixed
		height: 100vh
	.promo
		text-align: center
		&__header
			font-size: 2rem
			text-transform: uppercase
	.promo-wrap
		margin-top: 20%
		&__subheader
			font-size: 25px
			font-weight: 700
			color: #ff0000
			text-transform: uppercase
		&__text
			font-size: 25px
			font-weight: 700
	.arrow-scroll-down
		margin-top: 10%
		position: relative
		&__one
			position: absolute
			top: 30px
			left: calc(50% - 25px)
			animation: arrowDown 2s infinite
		&__two
			opacity: 0
			animation-delay: 2s

		@keyframes arrowDown
			0%
				bottom: 30px
				opacity: 1
			100%
				bottom: 0
				opacity: 0

	.HTML
		margin-top: 1rem
		hr
			padding: 0
			margin: 0
			color: #ff0000
			height: 3px
		&__header
			text-align: center
			margin-bottom: 1rem
			&::after
				content: " and CSS"
				color: #ff0000
				font-weight: 700
		&__button-wrap
			text-align: center
			button
				margin: 1rem
				text-transform: uppercase
				color: #000000
				font-weight: 700
				&:focus, &:active
					color: #000000
	.layout
		hr
			padding: 0
			margin-bottom: 3rem
			color: #ff0000
			height: 3px

		&__header
			text-align: center
			margin-bottom: 1.5rem
			margin-top: 1.5rem
			&::after
				content: " must be"
				color: #ff0000
				font-weight: 700
		&__card-body-wrap
			position: relative
			opacity: 0.9
			.fixed::after
				position: absolute
				content: ""

				width: 80px
				height: 80px

				left: calc(50% - 40px)
				top: 1rem

				background-image: url(../img/layout/1-dark.svg)
				background-position: 0 0
				background-repeat: no-repeat
				background-size: 100%
			.fixed:hover::after
				position: absolute
				content: ""

				width: 80px
				height: 80px

				left: calc(50% - 40px)
				top: 1rem

				background-image: url(../img/layout/1-red.svg)
				background-position: 0 0
				background-repeat: no-repeat
				background-size: 100%
			.adaptive::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/2-dark.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.adaptive:hover::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/2-red.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.cross-browser::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/3-dark.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.cross-browser:hover::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/3-red.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.flex::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/4-dark.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.flex:hover::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/4-red.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.semantic::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/5-dark.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.semantic:hover::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/5-red.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.valid::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/6-dark.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
			.valid:hover::after
					position: absolute
					content: ""
					width: 80px
					height: 80px

					left: calc(50% - 40px)
					top: 1rem

					background-image: url(../img/layout/6-red.svg)
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
		&__card-body-wrap:hover
			bottom: 1.5rem
			opacity: 1
		&__card-body
		&__card-title
			padding-top: 6rem
			text-align: center
		&__card-text
	.skills
		margin-top: 1rem
		hr
			padding: 0
			margin: 0
			color: #ff0000
			height: 3px
		&__header
			text-align: center
			margin-bottom: 1rem
			color: #ff0000
			font-weight: 700
			&::before
				content: "My hard "
				color: #000000
				font-weight: 400
		.row
			margin-top: 4rem
			.skill-wrap
				position: relative
				.skill-1::after
					position: absolute
					content: ""

					width: 5rem
					height: 5rem

					top: -2rem

					background-image: url(../img/skills/skills-1.png)
					background-repeat: no-repeat
					background-size: 75%
				.skill-2::after
					position: absolute
					content: ""

					width: 5rem
					height: 5rem

					top: -2rem

					background-image: url(../img/skills/skills-2.png)
					background-repeat: no-repeat
					background-size: 75%
				.skill-3::after
					position: absolute
					content: ""

					width: 5rem
					height: 5rem

					top: -2rem

					background-image: url(../img/skills/skills-3.png)
					background-repeat: no-repeat
					background-size: 75%
				.skill-4::after
					position: absolute
					content: ""

					width: 5rem
					height: 5rem

					top: -2rem

					background-image: url(../img/skills/skills-4.png)
					background-repeat: no-repeat
					background-size: 75%
				.skill-5::after
					position: absolute
					content: ""

					width: 5rem
					height: 5rem

					top: -2rem

					background-image: url(../img/skills/skills-5.png)
					background-repeat: no-repeat
					background-size: 75%
				.skill-6::after
					position: absolute
					content: ""

					width: 5rem
					height: 5rem

					top: -2rem

					background-image: url(../img/skills/skills-6.png)
					background-repeat: no-repeat
					background-size: 75%
				.skill-7::after
					position: absolute
					content: ""

					width: 5rem
					height: 5rem

					top: -2rem

					background-image: url(../img/skills/skills-7.png)
					background-repeat: no-repeat
					background-size: 75%
				.skill-8::after
					position: absolute
					content: ""

					width: 5rem
					height: 5rem

					top: -2rem

					background-image: url(../img/skills/skills-8.png)
					background-repeat: no-repeat
					background-size: 75%
				.skill-9::after
					position: absolute
					content: ""

					width: 5rem
					height: 5rem

					top: -2rem

					background-image: url(../img/skills/skills-9.png)
					background-repeat: no-repeat
					background-size: 75%
				.skill-10::after
					position: absolute
					content: ""

					width: 5rem
					height: 5rem

					top: -2rem

					background-image: url(../img/skills/skills-10.png)
					background-repeat: no-repeat
					background-size: 75%
				.skill-11::after
					position: absolute
					content: ""

					width: 5rem
					height: 5rem

					top: -2rem

					background-image: url(../img/skills/skills-11.png)
					background-repeat: no-repeat
					background-size: 75%

.footer
	margin-top: 3rem
	padding: 3rem 2rem 10rem 2rem

	color: #ffffff
	background-color: #212121
	background-image: url(../img/footer_bg.png)
	background-position: 0 0
	background-repeat: no-repeat
	text-align: center
	&__contact
	&__contact-text
		font-weight: 700
	&__contact-fone
		list-style: none
		text-decoration: none
		color: #ffffff
	&__contact-fone:hover
		color: #ffffff

	.footer-social
		&__list
		&__item
			position: relative
			list-style: none
			padding: 1rem
			.vk::before
				position: absolute
				content: ""

				top: 2rem
				left: 0

				width: 4rem
				height: 4rem

				border-radius: 50%

				background-color: #ffffff
			.vk:hover::before
				background-color: #000000
			.vk::after
				position: absolute
				content: ""

				top: 2rem
				right: -2rem

				width: 4rem
				height: 4rem

				background-image: url(../img/social/vk-b.svg)
				background-position: 0 0
				background-repeat: no-repeat
				background-size: 100%
			.vk:hover::after
				position: absolute
				content: ""

				top: 2rem
				right: -2rem

				width: 4rem
				height: 4rem

				background-image: url(../img/social/vk-r.svg)
				background-position: 0 0
				background-repeat: no-repeat
				background-size: 100%
			.tel::before
				position: absolute
				content: ""

				top: 2rem
				left: 0

				width: 4rem
				height: 4rem

				border-radius: 50%

				background-color: #ffffff
			.tel:hover::before
				background-color: #000000
			.tel::after
				position: absolute
				content: ""

				top: 2.2rem
				right: -2rem

				width: 4rem
				height: 4rem

				background-image: url(../img/social/tel-b.svg)
				background-position: 0 0
				background-repeat: no-repeat
				background-size: 90%
			.tel:hover::after
				position: absolute
				content: ""

				top: 2.2rem
				right: -2rem

				width: 4rem
				height: 4rem

				background-image: url(../img/social/tel-r.svg)
				background-position: 0 0
				background-repeat: no-repeat
				background-size: 90%
			.git::before
				position: absolute
				content: ""

				top: 2rem
				left: 0

				width: 4rem
				height: 4rem

				border-radius: 50%

				background-color: #ffffff
			.git:hover::before
				background-color: #000000
			.git::after
				position: absolute
				content: ""

				top: 2rem
				right: -2rem

				width: 4rem
				height: 4rem

				background-image: url(../img/social/git-b.svg)
				background-position: 0 0
				background-repeat: no-repeat
				background-size: 100%
			.git:hover::after
				position: absolute
				content: ""

				top: 2rem
				right: -2rem

				width: 4rem
				height: 4rem

				background-image: url(../img/social/git-r.svg)
				background-position: 0 0
				background-repeat: no-repeat
				background-size: 100%
		&__link

